extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Adds my name to the about page
        h1 Kevin Shields

        //- My title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- This is where my elevator pitch will go
        .portfolio-bio
          p
            | This is where my elevator pitch will go in the future
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Lists all my skills
        ul
          li Express
          li JavaScript
          li Python
          li Data Cleaning
          li Web Scraping 
          li jQuery
          li APIs
          li JSON
          li Node.js
          li HTML
          li CSS
        h6 Contact Info

        //- my contact info. Will use real contact info when interviewing
        ul
          li 555-555-1234
          li email@email.com

        //- My personal links. Note: I do not have a Twitter
        a.button.expanded(href='https://www.linkedin.com/in/kevin-shields-30980b8a/') LinkedIn
        a.button.expanded(href='https://github.com/kshields51') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  