extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- dynamically creates the project names
        h1 #{projectName}

        //- dynamically creates the project description
        p.lead.text-light
          | #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- dynamically adds all the technologies used on then project from the JSON file
        ul
          each technology in technologies
            li= technology

        //- generates the links to the github from the jSON file. Uses locals from app.js
        a.button.expanded(href= liveLink) Live Demo
        a.button.expanded(href= githubLink) GitHub Repo
    
    //- creates the images that appear on the profile page
    img.image(src='/static2/' + profileImage)
    